<!-- <nav class="navbar bg-body-tertiary" >

    <div class="container-fluid">
    
    <a class="navbar-brand">
    
    
    <br>
    
    <img src="logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top rounded-circle">
    
     <div>
    Dealer Portal
</div>
    </a>
    
    <div id="search" class="drop">
        
     <form >  
    <input class="" type="search" placeholder="Search" id="search_text" aria-label="Search">
    
     </form>





    <ul style="margin-left: 30px;" class="navbar-nav me-auto mb-2 mb-lg-0 " >    
<li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle drop-boader" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create</a>
    <ul class="dropdown-menu">
      
    </ul>
  </li>
  </ul>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
  </svg>&nbsp;&nbsp;&nbsp;&nbsp;
</div>



    
    </div>
    
    </nav> -->
    
    <div class="sidebar"  >
        <br><br>
        <div id="sur" class="mr-0">
        
        <a (click)="table()" routerLink="/">Surgery</a>
        
    </div>
        </div>
    
    <app-data *ngIf="showTable"></app-data>
    
    
        
    
    
    
    
    
    
        
              
            
