.custom-dropdown .dropdown-toggle {

    border: 1px solid black;
    border-radius: 5px;
    }
   
   
   
   
    .custom-dropdown .dropdown-menu {
   
    border: 1px solid black;
   
    border-top: none;
   
    border-radius: 0;
   
   
    }
   .container-fluid{
    border: 4px;
    border: 3px solid #0d0a0a;
padding-top: 0;
border-left: 3px ;
    
    border-top:3px;
   }
   
   
   
    .custom-search-tab{
   
    width: 900px;
   

   
  }
  
   .drop{
       /* display: flex; */
       justify-content: center;
       /* margin-right: 10%; */
     }
  

     #search_text{
       width: 400px;
       padding: 15px 0 15px 20px;
       font-size: 16px;
       border: 0 none;
       height: 45px;
       margin: auto;
       color: rgb(202, 194, 194);
       outline: none;
       background: #eef2f1;
       /* float: inline-start; */
       box-sizing: border-box;
       transition: all 0.15s;
       border-radius: 10px;
      }